@ydrea:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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

@ydrea:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=e6a9c6e9-4d5c-43b0-bd09-2f4b51c4eb0c